@keyframes scale-in-hor-right {
  0% {transform: scaleX(0);  transform-origin: 100% 100%;  opacity: 1;}

  100% {transform: scaleX(1);  transform-origin: 100% 100%;  opacity: 1;}
}

@keyframes slide-in-bottom {
  0% {transform: translateY(50px);  opacity: 0;}

  100% {transform: translateY(0);   opacity: 1;}}

@keyframes rotate-in-center {
  0% {transform: rotate(-360deg);  opacity: 0;}

  100% {transform: rotate(0);  opacity: 1;}
}

html{overflow-x: hidden;}

*{font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;      margin:0;   padding: 0;    width: 100%;}

body{width: 100%;
height: auto;
overflow-x: hidden;
display: flex;
flex-direction: column;}

a{text-decoration: none;}

li{list-style-type: none;}

li{list-style-type:none ;}

li a{color: white;}

header{height: 120PX;     box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.15);}

.title img{height:70px;
width:26%;
margin-left:37% ;
margin-right: 37%;
margin-top: 30px;
box-shadow: none;
margin-bottom: 20px;}

.fa-arrow-left{font-size: 2em;
color: black;
position: absolute;
top:50px;
left:50px;
height: 30px;
width: 30px;
transform: scale(1.2);}

.fa-arrow-left:hover{color: purple;    transition: 0.3s;}

nav img{height: 550px;    position: absolute;     top:120px;     width: 100%;}

.fa-heart{right: 8%;
top: 530px;
width: 30px;
position: absolute;
font-size: 3.5em;
color: black;}

.fa-heartnone{z-index: 1;     opacity: 0;     transition: 0.5s;}

.fa-heart:hover{color: blueviolet;    width: 30px;   opacity: 1;}

.hr{height: 50px;   margin-top: 50px;     margin-bottom: 10px;}

hr{height: 5px;
background: rgb(93, 209, 255);
opacity: 0.5;
width: 65px;
margin-left: 5.3%;
border: none;}

section{overflow-x: hidden;
z-index: 1;
margin-top: 370px;
background :rgb(236, 236, 236);
justify-content: space-between;
display: flex;
flex-direction: column;
align-content: space-between;
border-radius: 50px 50px 0px 0px;
height: 2000px;}

section .h4{font-size: 2em;
  font-family: 'Franklin Gothic lower', 'Arial Narrow', Arial, sans-serif;
margin-left: 5%;
width:auto;
margin-top: 10px;
height: 40PX;
margin-bottom: 0;
}

h1{font-size: 2.5em;
margin-left: 5%;
width:auto;
margin-top: 40px;
height: 40PX;
margin-bottom: 0;}

.produits{animation: slide-in-bottom 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
border: none;
width: 90%;
margin-left: 5%;
margin-right: 5%;
height: 100px;
margin-top: 20px;
background: white;
border-radius: 20px;}

.produits:hover{box-shadow: 0 0 30px 15.5px #ddd;}

.produits .h3{margin-left:3%;
overflow: hidden;
width: auto;
margin-top: 12px;
font-size: 2em;
text-align: start;
white-space: nowrap;
text-overflow: ellipsis}

.produits .p{flex-direction: row;
margin-left:3%;
margin-right: 4%;
margin-top: 5px;
display: flex;
justify-content: space-between;
width: auto;
height: 30px;
font-size: 2em;
text-align: start;}

.span{text-overflow: ellipsis;
width:460px;

overflow: hidden;
white-space: nowrap;
color: rgb(82, 82, 82);
font-size: 0.8em;}

.tarif{text-align: end;   width: 30px;    height: 30px;    font-weight: bold;}

.validation{margin: 0;
padding: 0;
width: 100px;
height: 100px;
background:#99E2D0;
position: absolute;
border-radius: 0px 20px 20px 0px;
opacity: 0;
right: 0;
top: 0;
z-index: 1;
display: flex;
align-items: center;
justify-content: center;}

.validation i{color: white;
display: flex;
align-items: center;
justify-content: center;
height: 40px;
width: 40px;
font-size: 3em;}

.produits:hover i{  animation: rotate-in-center 1.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;}

.produits1:hover .validation1{ animation: scale-in-hor-right 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;    opacity: 0; opacity: 1;}
.produits2:hover .validation2{ animation: scale-in-hor-right 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;    opacity: 0; opacity: 1;}
.produits3:hover .validation3{ animation: scale-in-hor-right 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;    opacity: 0; opacity: 1;}
.produits4:hover .validation4{ animation: scale-in-hor-right 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;    opacity: 0; opacity: 1;}
.produits5:hover .validation5{ animation: scale-in-hor-right 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;    opacity: 0; opacity: 1;}
.produits6:hover .validation6{ animation: scale-in-hor-right 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;    opacity: 0; opacity: 1;}
.produits7:hover .validation7{ animation: scale-in-hor-right 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;    opacity: 0; opacity: 1;}
.produits8:hover .validation8{ animation: scale-in-hor-right 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;    opacity: 0; opacity: 1;}
.produits9:hover .validation9{ animation: scale-in-hor-right 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;    opacity: 0; opacity: 1;}
.produits10:hover .validation10{ animation: scale-in-hor-right 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;    opacity: 0; opacity: 1;}

.produits:hover .tarif{padding-right: 100px;    transition: 1s;}
.produits:hover .h3{padding-right: 100px; transition: 1s;}
.buttonC{border: none;
margin-top: 80px;
margin-bottom:100px;
width: 400px;
margin-left: 50%;
transform: translateX(-50%);
height: 100px;
font-size: 2em;
color:white;
background: rgb(255,121,218);
background: linear-gradient(171deg, rgba(255,121,218,1) 0%, rgba(147,86,220,1) 94%);
border-radius: 50px;}

.buttonC:hover{color:#99E2D0}

footer{font-size:2em;   color:white; height: auto;   background:black;}

footer ul{margin-bottom:50px;}

footer li{margin-top:20px;     text-align: start;     margin-left:5%; width: 380px;}

footer li a{display:flex;    justify-content:flex-start;}

footer i{width:60px;}







@media screen and (min-width: 768px) and (max-width: 992px){
*{font-size:0.96em}
}







@media screen and (max-width: 768px){
.buttonC{height: 60px; width: 280px;}

*{font-size: 0.92em;}

.fa-arrow-left{top:50px;  left:35px;}

.title img{height:70px;
width:50%;
margin-left:25% ;
margin-right: 25%;}

.produits .p{margin-right: 7%;}
  
.produits .h3{margin-top: 20px;}

.produits:hover .tarif{padding-right: 90px; }

footer i{width:45px;}

footer li{width: 330px;}

}